.footer{
    position: relative;
}
.footer_cont{
    padding: 30px 10%;
    font-weight: 300;
}
.footer .sct_button{
    position: absolute;
    bottom:50px;
    right: 10%;
    padding:20px;
    height: 70px;
    background: #111752;
    border: #111752;
    color:#fff;
}