/*GENERAL*/
.browserupgrade{
    position: fixed;
    border: 70px solid #fff;
    z-index: 100;
    background: #111752;
    height: 100vh;
    width: 100%;
    color: #fff;
    font-family: Montserrat, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    line-height: 54px;
    letter-spacing: 3px;
    box-sizing: border-box;
}
.browserupgrade p{
    position: absolute;
    width: 60%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.browserupgrade p:after,
.browserupgrade p:before {
    content: '';
    display: block;
    width: 17px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: -20%;
}
.browserupgrade p:after{
    top:auto;
    bottom:-20%;
}
.browserupgrade a{
    color: #fff;
}
main {
    overflow: hidden;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sct {
    position: relative;
    display: flex;
    align-items: center;
}

.sct_cont {
    padding: 5%;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.title {
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;
}

.title_main {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #111752;
    margin: 0;
}

.title_scd {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: Montserrat,sans-serif;
    color: rgba(17, 23, 82, 0.45);
    text-decoration: underline;
    margin-bottom: 45px;
}
.title_main i{
    display: inline-block;
    line-height: 1.3;
    position: relative;
}
.title_main i:after {
    display: block;
    content:'';
    width: 100%;
    background: #111752;
    height: 1px;
}

.cnt {
    font-family: Kanit, sans-serif;
    text-transform: none;
    color: #111752;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
}
.cnt strong{
    font-weight: 500;
}
.sct_button {
    background: none;
    border: 2px solid #111752;
    padding: 8px 15px;
    position: relative;
    text-decoration: none;
    color: #111752;
    cursor: pointer;
    transition: color cubic-bezier(0.215, 0.610, 0.355, 1.000) .3s;
}

.sct_button:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background: #111752;
    z-index: -1;
    left: 0;
    transition: height cubic-bezier(0.215, 0.610, 0.355, 1.000) .3s;
}

.sct_button:hover,
.sct_button:active,
.sct_button:focus {
    text-decoration: none;
    color: #fff;
    transition: color cubic-bezier(0.215, 0.610, 0.355, 1.000) .3s;
}

.sct_button:hover:after,
.sct_button:active:after,
.sct_button:focus:after {
    height: 100%;
    transition: height cubic-bezier(0.215, 0.610, 0.355, 1.000) .3s;
}

.list {
    text-align: center;
    padding: 0;
    margin: 0;
}

.list-footer .item,
.list-header .item {
    display: inline-block;
}

.item {
    list-style: none;
    font-family: Kanit, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: none;
}

.item_cnt {
    font-size: 16px;
    margin-top: 40px;
}

.item_title {
    margin-bottom: 20px;
}

.item_title .title_main {
    font-size: 26px;
    letter-spacing: 2px;
}

.item_container {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.item_img {
    height: auto;
    width: 100%;
    min-height: 101%;
    min-width: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon{
    font-weight: 600;
}
.icon-down{
    font-size: 10px;
    font-weight: 800;
}
.icon-top{
    display: block;
    transform: rotate(90deg);
}
@media all and (min-width: 768px) {
    .sct {
        min-height: calc(100vh - 70px);
    }
    .cnt {
        font-size: 16px;
        line-height: 1.5;
    }
}
@media all and (min-width: 990px) {
    .cnt {
        font-size: 18px;
        line-height: 1.67;
    }
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current{
    background: #111752 !important;
    box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover{
    background: #ffd740 !important;
    color: #111752 !important;
    box-shadow: none !important;
}